.form {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 8px 0px;
  transition: scale 0.3s ease;
}

.form:hover {
  scale: 1.05;
}

.nameWrapper {
  width: 100%;
}

.numberWrapper {
  width: 100%;
}

.label {
  display: block;
}

.input {
  width: 100%;
}

.error {
  font-size: 0.8em;
  color: #fa0000;
}

.btnWrapper {
  display: flex;
}

.btnSave,
.btnCancel {
  display: flex;
  justify-content: center;
  width: fit-content;
  border: 1px solid #adadad;
  border-radius: 4px;
}

.btnSave:hover {
  border: 1px solid #3cb371;
}

.saveIcon,
.btnCancel {
  margin-right: 10px;
}

.btnCancel:hover {
  border: 1px solid #dc143c;
}
